# DATABASE
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/thuegiasu
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false

# SERVER
SERVER_PORT=8080
APP_FRONTEND_URL=http://localhost:5173

# OAUTH2
GOOGLE_CLIENT_ID=change-me
GOOGLE_CLIENT_SECRET=change-me
FACEBOOK_CLIENT_ID=change-me
FACEBOOK_CLIENT_SECRET=change-me

# MAIL
SPRING_MAIL_USERNAME=change-me@example.com
SPRING_MAIL_PASSWORD=change-me

# VNPAY
VNP_TMN_CODE=change-me
VNP_HASH_SECRET=change-me
VNP_PAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNP_RETURN_URL=http://localhost:8080/api/payment/vnpay-return

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=change-me
CLOUDINARY_API_KEY=change-me
CLOUDINARY_API_SECRET=change-me
